*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header{
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 100; */
}

.logo{
  font-size: 2rem;
  color: rgb(12, 186, 79);
  cursor: default;
}
.navbar a{
  font-size: 1.5rem;
  color:  rgb(2, 15, 7);
  margin-left: 4rem;
  font-weight: 700;
}

.navbar a:hover,
.navbar a:active{
  color:rgb(41, 40, 40)
}

#menu-icon{
  font-size: 2.6rem;
  display: none;
}
.About-me{
  display: flex;
  justify-content: center;
  align-items: center;

}
.about-me-content h3{
  font-size: 2.6rem;
  font-weight: 700;
}
.about-me-content h3:nth-child(2){
  margin-bottom: 2rem;
}

span{
  color: rgb(12, 186, 79);
}
.about-me-content h1{
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 1.3;
}
/* .about-me-image img{
  width: 25vw;
  animation: float;


} */
.about-me-content p{
  font-size: 1.6rem;
}

@media (max-width: 1200px){
  html{
    font-size: 55%;
  }
}

@media (max-width: 991px){
  .header{
    padding: 2rem 3%;
  }
  section{
    padding:10rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon{
    display: block;
  }


  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 0.5rem 1rem  rgba(0, 0, 0, .2) ;
    display: none;
  }

  .navbar.active{
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .about-me{
    flex-direction: column;
  }
  .about-me-content h3{
    font-size: 2.6rem;

  }
  .about-me-content h1{
    font-size: 2.6rem;
  }
  /* .about-me-image img{
    width:90vw;
    margin-top: 4rem
  } */

}
@media (max-width: 450px) {
  html{
    font-size: 50%;
    
  }
}